body {
  margin: 0;
  min-height: 100vh;
}

header {
  background-color: rgb(31, 41, 55);
  padding-left: 10%;
  padding-right: 10%;
  height: 450px;
}

header h2 {
  font-size: 48px;
  font-weight: extra-bold;
  color: rgb(249, 250, 248);
}

header p,
a {
  font-size: 18px;
  color: rgb(235, 231, 235);
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  font-weight: 10;
  display: flex;
  gap: 20px;
}

header button {
  background-color: rgb(84, 147, 248);
  color: aliceblue;
  border-color: rgb(31, 41, 55);
  font-size: 14px;
  border-radius: 6px;
  width: 125px;
  height: 30px;
}

.logo {
  font-size: 24px;
  font-weight: bolder;
  color: rgb(235, 231, 235);
}

.section1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.section2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.left-items-2 {
    align-items: center;
    margin-right: 15px;
}

.placeholder {
    width: 400px;
    height: 200px;
    background-color: gray;
    flex-shrink: 0.5;
}

.information-section {
  height: 450px;
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.information-title {
  font-size: 28px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 3000;
  color: rgb(25, 41, 55);
  text-align: center;
}

.portrait {
  width: 100px;
  height: 100px;
  border: 2.5px solid rgb(84, 147, 248);
  border-radius: 10px;
}

.information-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: top;
  gap: 40px;
}

.container-square {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100px;
}

.container-square p {
  text-align: center;
}

.quote-section {
  height: 450px;
  background-color: rgb(229, 231, 235);
}

.quote {
  font-size: 36px;
  color: rgb(25, 41, 55);
  font-style: italic;
  font-weight: 0;
  display: flex;
  margin: 12.5% 15% 0% 15%;
  flex-wrap: nowrap;
}

.quote-author {
  font-size: 18px;
  font-weight: bolder;
  position: relative;
  right: 30%;
}

.big-quote {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.cto-section {
  height: 300px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  align-items: center;
}

.cto-container {
  background-color: rgb(56, 130, 246);
  margin-left: 10%;
  margin-right: 10%;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  justify-self: start;
  flex: 1;
}

.cto-container h4 {
  color: rgb(249, 250, 248);
  font-size: 20px;

}

.cto-container p {
  color: rgb(249, 250, 248);
  font-size: 15px;
  font-weight: lighter;
  position: relative;
  bottom: 18px;
}

.cto-container button {
  width: 150px;
  height: 40px;
  font-size: 15px;
  color: rgb(249, 250, 248);
  background-color: rgb(56, 130, 246);
  border-radius: 8px;
  border-color: rgb(249, 250, 248);
}

footer {
  background-color: rgb(31, 41, 55);
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.copyright {
  font-size: 14px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(249, 250, 248);
}





